<!DOCTYPE html>
<html>
<head>
  <title>Roequotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>


<!--LOGO-->
<div class="col-xs-4">
  <div class="circle">
    <br />
    The Collected
    <br />
    Wisdom Of
    <br />
    Monroe Mann&trade;
  </div>

</div>

<!--SLOGAN-->
<div class="col-xs-4 slogan">
Proudly sharing Monroe Mann inspiration, musings, and quotations since 2016.  Instructions: A) Click the bottom left link for new random quotations.  B) Keep clicking the link until inspired to your anticipated level of satisfaction.  C) Go out there and kick it!
</div>

<div class="col-xs-4 links">
  <%= link_to 'Contribute', '#' %>
  <%= link_to 'About', '#' %>
</div>

</header>
<hr />

<br class="clear" />


<div class="container">
<%= yield %>
</div>

<div class="footer">
  <div class="container">
    
    <div class="col-xs-6">
        <%= link_to "This isn't enough inspiration.  I want another quote right now!", "#", class: "next-quote" %> 
    </div>
    
    <div class="col-xs-6 info-section">
       Proudly hacked together from scratch by <a href="http://monroemann.getforge.io" style="color:white">Monroe Mann</a> using Ruby, Rails, HTML, CSS, and Twitter Bootstrap.Want your own quote machine, website, or something similar?  <a href="mailto:roe@monroemann.com">Get in touch!</a> All quotations &copy;2016 by Monroe Mann. Esq.  All rights reserved.
    </div>

</div>
</body>

</html>
