<!DOCTYPE html>
<html>
<head>
  <title>Roequotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>


<!--LOGO-->
<div class="col-xs-3">
  <%= link_to root_path, class: "logo" do %>
    <div class="circle">
      <br />
      The Collected
      <br />
      Wisdom Of
      <br />
      Monroe Mann&trade;
    </div>
  <% end %>
</div>

<!--SLOGAN-->
<div class="col-xs-5 slogan">
Proudly sharing Monroe Mann inspiration, musings, and quotations since 2016.  Instructions: A) Click the bottom left link for new random quotations.  B) Keep clicking the link until inspired to your anticipated level of satisfaction.  C) Go out there and kick it!
</div>

<div class="col-xs-4 links">
  <!-- Button trigger modal -->
   <%= link_to 'Contribute', '#', data: {toggle: 'modal' data-target: '#myModal'} %>
  <%= link_to 'About', about_path %>
</div>

</header>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<hr />

<br class="clear" />


<div class="container">
  <% if flash[:error].present? %>
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
      <%=flash[:error].html_safe %>
    </div>
  <% end %>    
<%= yield %>
</div>

<br class="clear" />
<div class="footer">
  <div class="container">
    
    <div class="col-xs-12 col-md-6 text-center">
        <%= link_to "ANOTHER QUOTE!", root_path, class: "next-quote" %>
    </div>
    
    <div class="col-xs-12 col-md-6 text-center info-section">
       Proudly built by <a href="http://monroemann.getforge.io" style="color:white">Monroe Mann</a> using Ruby, Rails, HTML, CSS, + Bootstrap.  Want your own quote machine, or something else?  <a href="mailto:roe@monroemann.com">Get in touch!</a> &copy;2016 by Monroe Mann. Esq.
    </div>

</div>
</body>

</html>
